<!DOCTYPE html >
<html layout:decorate="~{includes/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>
<head>
    <title>Spring dashboard</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Menu Lists</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Icon</th>
            <th scope="col">Url</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu : ${menus}">
            <th scope="row" th:text="${menu.id}"></th>
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.icon}"></td>
            <td th:text="${menu.url}"></td>
        </tr>
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group  mr-2" role="group" aria-label="First group">
            <a class="btn btn-primary" href="/menus/preAdd" role="button">Add menu</a>
        </div>
    </div>
</main>
</body>
</html>
