<!DOCTYPE html >
<html layout:decorate="~{includes/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>
<head>
    <title>Spring dashboard</title>
</head>
<body>
<main layout:fragment="content">
    <h1>User Lists</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
